{% extends 'base.html' %} 

{% block body %}
<h1>Delete Book</h1>
<p>Are you sure you want to delete {{book.title}}?</p>
<form action="#" method="post">
    <input type="submit" value="Delete">
    <a href="{{url_for('showBook')}}">Cancel</a>
</form>
{% endblock %}