{% extends 'base.html' %} 

{% block body %}
<h1>Edit Book</h1>

<p>Name:</p>
<form action="#" method="POST" name="{{book.id}}">
    <input type="text" placeholder="{{book.title}}" name="bookName">
    <input type="submit" value="Edit">
    <a href="{{url_for('showBook')}}">Cancel</a>

</form>
{% endblock %}