{% extends 'base.html' %} 
{% block body %}
<h1>Books</h1>

{% if books == [] %}
    <p>There are no books to show!</p>
{% else %}
    {% for book in books%}
    <div class="book">
        <p>{{book.title}}</p>
        <a href="{{url_for('editBook', book_id=book.id)}}">Edit book</a>
        <a href="{{url_for('deleteBook', book_id=book.id)}}">Delete book</a>
        <br>
        <br>
    </div>
{%endfor%}
{%endif%}
    <!-- <div class="addBook">
        <a href="{{url_for('newBook')}}">Add a new book</a>
    </div>
    
    <p></p> -->
{% endblock %}