{% extends 'base.html' %} 

{% block body %}
<form action="#" method="post">
    <h1>New Book</h1>
    <p>Name:</p>
    <input type="text" name="book_name">
    <input type="submit" value="Create">

</form>
{% endblock %}